@define-mixin tugan-red-single {
    &::before {
        content: '';
        display: inline-block;
        width: 14px;
        height: 14px;
        margin-right: 8px;
        background-repeat: no-repeat;
        background-image: url('./assets/img/icons/tugan-red-single.svg');
        vertical-align: baseline;
        background-size: contain;
    }
}