@import './lib/reset.css';
@import './lib/fonts.css';

@import './settings.pcss';
@import './mixins/index.pcss';

/* компоненты */
@import './modules/modal.pcss';
@import './modules/loader.pcss';
@import './modules/spinner.pcss';

/* представления */