.sidebar {
    background: $color-white;
    padding: 50px 25px 30px 60px;
    &__link {
        position: relative;
        display: block;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-decoration: none;
        padding: 10px 10px 10px 42px;
        margin: 10px 0;
        &:hover,
        &.is-active {
            background: $color-green;
            color: $color-white;
        }
    }
}
