.app {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $color-bg;
    &__block {
        display: flex;
    }
    &__sidebar {
        width: 350px;
        margin-right: 30px;
    }
    &__main {
        padding-top: 25px;
        &.m--no-padding {
            padding-top: 0;
        }
    }
}
