.contragents {
    &__header,
    &__item {
        display: grid;
        grid-template-columns: 35% auto 140px 140px;
        grid-template-areas: 'A B C D';
        gap: 15px;

        &.m--user {
            grid-template-columns: 35% auto 140px 140px 32px;
            grid-template-areas: 'A B C D E';
        }
    }

    &__header {
        padding: 0 15px;

        &-cell {
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;
            color: $color-gray-T3;
            padding: 0 0 36px;
            &.m--name {
                grid-area: A;
            }
            &.m--activity {
                grid-area: B;
            }
            &.m--customer {
                grid-area: C;
            }
            &.m--member {
                grid-area: D;
            }
        }
    }
    &__list {
        padding: 12px 15px;
        margin-bottom: 24px;
        overflow: hidden;
        @mixin shadow-box;

        &-inner {
            overflow-x: auto;
            @mixin scrollbar $color-shadow, $color-green, 10px;
        }
    }

    &__item {
        position: relative;
        padding: 24px 15px;
        cursor: pointer;
        min-width: 780px;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 15px;
            right: 15px;
            border-bottom: 1px solid $color-gray-T5;
        }

        &:last-child:after {
            display: none;
        }

        &:hover {
            /* border-radius: 8px; */
            background: $color-green-opacity20;

            .svg-icon{
                stroke: $color-green;
            }
        }

        &-cell {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;
            &.m--name {
                flex-direction: row;
                align-items: center;
            }
            &.m--customer,
            &.m--member {
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                display: flex;
                align-items: center;
            }
            span{
                margin-left: 10px;
            }

            .m--name-city {
                font-weight: 300;
                font-size: 12px;
                line-height: 15px;
                color: $color-gray-T3;
                padding-top: 4px;
            }
            &.m--favorite {
                align-items: center;
            }
        }

        &-logo {
            position: relative;
            width: 60px;
            height: 60px;
            margin-right: 24px;

            &.m--no-logo:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: url('./assets/img/no-logo.png') 50% 50% no-repeat;
                background-size: 50px auto;
            }

            img {
                position: relative;
                display: block;
                width: 100%;
                height: 100%;
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }

        }
        &-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &-favorite {
            position: relative;
            width: 32px;
            height: 32px;
            background-image: svg-load('./assets/img/icons/icon-star.svg', fill=$color-gray-T4);
            background-size: contain;
            cursor: pointer;

            &.m--favorite {
                background-image: svg-load('./assets/img/icons/icon-star.svg', fill=$color-green);
            }

            @mixin responsive-le-xl {
                width: 24px;
                height: 24px;
            }
        }
    }
}
