.contragents {
    &__header,
    &__item {
        display: grid;
        grid-template-columns: 20% auto 140px 140px;
        grid-template-areas: 'A B C D';
        gap: 15px;
    }

    &__header {
        padding: 0 15px;

        &-cell {
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;
            color: $color-gray-T3;
            padding: 0 0 36px;
            &.m--name {
                grid-area: A;
            }
            &.m--activity {
                grid-area: B;
            }
            &.m--customer {
                grid-area: C;
            }
            &.m--member {
                grid-area: D;
            }
        }
    }
    &__list {
        padding: 12px 15px;
        margin-bottom: 24px;
        overflow: hidden;
        @mixin shadow-box;

        &-inner {
            overflow-x: auto;
            @mixin scrollbar $color-shadow, $color-green, 10px;
        }
    }

    &__item {
        position: relative;
        padding: 24px 15px;
        cursor: pointer;
        min-width: 780px;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 15px;
            right: 15px;
            border-bottom: 1px solid $color-gray-T5;
        }

        &:last-child:after {
            display: none;
        }

        &:hover {
            /* border-radius: 8px; */
            background: $color-green-opacity20;

            .svg-icon{
                stroke: $color-green;
            }
        }

        &-cell {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;
            &.m--name {
                flex-direction: column;
                align-items: flex-start;
            }
            &.m--customer,
            &.m--member {
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                display: flex;
                align-items: center;
            }
            span{
                margin-left: 10px;
            }

            .m--name-city {
                font-weight: 300;
                font-size: 12px;
                line-height: 15px;
                color: $color-gray-T3;
                padding-top: 4px;
            }
        }
    }
}
