.organization-edit{
        &__subtitle{
        text-transform: uppercase;
        color: $color-gray-T3;
        display: inline-block;
        margin-top: 0;
    }
    /* .form__button .button:first-child {
        margin-right: 30px;
    } */
}
.form__submit .button:first-child {
    margin-right: 30px;
}