.profile-edit{
    &__subtitle{
        text-transform: uppercase;
        color: $color-gray-T3;
        display: inline-block;
        margin-top: 0;
    }
    .field__label{
        color: #344054;
    }
    .field__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .field__input{
        max-width: 400px;
    }
}

.formkit-help {
    margin-left: 8px;
}

