.registration {
    &__title {
        text-transform: uppercase;
        color: $color-gray-T3;
    }
    &__subtitle {
        text-transform: uppercase;
    }
    &__form {
        .form__block {
            max-width: 50%;
        }
        &-submit {
            padding-top: 45px;
            .button {
                margin: 0 12px;
            }
        }
    }
    &__content {
        margin-bottom: 24px;
    }
}
