.rules {
    padding-top: 30px;
    &__content {
        h2 {
            text-transform: uppercase;
            color: $color-gray-T3;
            font-weight: 600 !important;
        }
    }
    &__block {
        padding: 24px;
        @mixin shadow-box;
        margin-bottom: 48px;
    }
}
